<h1 class="text-primary fs-3">Menu ADMIN</h1>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categorias</h5>
        <p class="card-text">Adicione e gerencie categorias</p>
        <a href="/admin/categorias" class="btn btn-primary">Categorias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Postagens</h5>
        <p class="card-text">Adicione e gerencie suas postagens</p>
        <a href="/admin/postagens" class="btn btn-primary">Postagens</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 mb-sm-0 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <p class="card-text">Gerencie os usuarios cadastrados</p>
        <a href="/admin/usuarios" class="btn btn-primary">Usuarios</a>
      </div>
    </div>
  </div>
</div>